{{#if success_msg}}
  <div class="alert alert-success">
    <strong>
      {{success_msg}}
    </strong>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">
    <strong>
      {{error_msg}}
    </strong>
  </div>
{{/if}}

{{#if remove_msg}}
  <div class="alert alert-warning">
    <strong>
      {{remove_msg}}
    </strong>
  </div>
{{/if}}